* {
  box-sizing: border-box;
  font-family: 'Arsenal', sans-serif;
  letter-spacing: 0.1rem;
}

App {
  pointer-events: none;

}

body {

  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("https://images5.alphacoders.com/115/1157178.png");
  background-size: auto;
  background-blend-mode:overlay;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.8)
}

.navbar {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 60px;
  background-color:#191b21;
  padding: 0 1rem;
  border-bottom: 1px solid #474a4d;
  border-radius: 10px;
}

.navbar-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-size: large;
  font-weight: 700;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-item {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #DB0007;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem;
  transition: filter 300ms;
}

.icon-button {
  height: 2rem;
  width: 2rem;
  background-color: #DB0007;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button svg {
  width: 28px;
  width: 28px;
}

.icon-button img {
  transform: scale(0.13) translateY(24%) ;
  clip-path: ellipse(50% 50% at 50% 0%);
}

.nav-item:hover {
  filter: brightness(1.2)
}

.dropdown {
  position: absolute;
  top: 42px;
  width: 300px;
  transform: translateX(-45%);
  border-radius: 10px;
  background-color:#191b21;
  z-index: 1000;
  padding: 1rem;
  overflow: hidden;
  min-height: 130px;
  max-height: 600px;
  transition: height 500ms ease;
  overflow: scroll;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.menu-item {
  display: flex;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  transition: background 500ms;
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #2a2d37;
}

.icon-right {
  margin-left: auto;
}

.menu {
  width: 100%
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-secondary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.menu-secondary-enter {
  position: absolute;
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-secondary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 800px; 
}

.card {
  width: 100% ;
  max-width: 900px;
  padding: 20px;
  background: #191b21;
  border-radius: 10px;
  height: 500px;
  position: relative;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  z-index: -1;
  pointer-events: none;
}

.player {
  min-height: 800px;
  width: 113.5%;
  position: absolute;
  clip-path: inset(0px 0px 0px -500px);
  left: -250px;
  bottom: 0px;
  overflow: hidden !important;
  pointer-events: none;
}
  
.player > img {
  width: 400px;
  position: absolute;
  top: 173px;
  /* overflow-x: hidden; */
}

@media screen and (max-width: 917px) {
  .player > img {
    z-index: -100;
    opacity: 50%;
  }

  .home-img {
    transform: translateX(0%) translateY(-19.5%) scale(0.9) !important;
  }

  .stats-container-home {
    height: 80% !important;
  }
}

@media screen and (max-width: 789px) {
  .home-img {
    transform: translateX(30%) translateY(-27%) scale(0.9) !important;
  }

  .stats-container-home {
    width: 99.9% !important;
    height: 70% !important;
  }
}

@media screen and (max-width: 648px) {
  .home-img {
    transform: translateX(0%) translateY(-27%) scale(0.9) !important;
  }

  .stats-container-home {
    width: 99.9% !important;
    height: 70% !important;
  }
}

@media screen and (max-width: 454px) {
  .home-img {
    transform: translateX(0%) translateY(0%) scale(0.6) !important;
  }

  .stats-container-home {
    width: 99.9% !important;
    height: 70% !important;
  }
}

@media screen and (max-width: 520px) {
  .player {
    width: 165%;
  }

  .player > img {
    opacity: 30%;
    z-index: 1;
  }

  .container {
    width: 100%;
  }
  
  .navbar {
    width: 100%;
  }
  
  .player-name {
    font-size: 2.5rem !important;
    top: -3px !important;
    line-height: 0 !important;
  }

  .stats-container {
    width: 99.9% !important;
    height: 100%;
  }

  .stats-container-home {
    width: 99.9% !important;
    height: 70%;
  }

  .card {
    width: 100% ;
    padding: 20px;
    background: #191b21;
    border-radius: 10px;
    height: 90vh;
    position: relative;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
    z-index: -1;
    pointer-events: none;
  }

  .home-img {
    transform: translateX(-10%) translateY(0%) scale(0.6) !important;
  }

}

.player-name {
  font-size: 5.5em;
  color: whitesmoke;
  text-align: center;
  position: absolute;
  top: -73px;
  right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-shadow: 0.05em 0 0 #d70435, 0.1em 0 0 #0f4c94;
  z-index: -1;
  margin: 0;
  line-height: 1;
}

.stats-container {
  color: #191b21;
  font-weight: 700;
  width: 450px;
  background: whitesmoke;
  height: 100%;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;
  padding: 20px;
  z-index: 11;
  pointer-events: none;

}

.stats-container-home {
  color: #191b21;
  font-weight: 700;
  width: 450px;
  background: whitesmoke;
  height: 80%;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;
  padding: 20px;
  z-index: 1100;
  overflow: none;
}

.group {
  max-width: 175px;
  display: inline-block;
}

.label {
  font-size: 0.875rem;
  letter-spacing: 3px;
  color: #DB0007;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 0.5em;
}

.label:first-child {
  margin-top: 0px;
}

.description {
  font-size: 1.25rem;
  z-index: 100000;
}

.intro-menu {
  color: white;
}

.Ødegaard {
  transform: scale(1.4) translateY(18%) translateX(38%);
}

.Saka {
  transform: translateX(55%) translateY(55%) scale(1.8);
  mask-image: linear-gradient(to top left, transparent 1%, white, black);
}

.Martinelli {
  transform: translateX(40%) translateY(10%) scale(1.1)
}

.Smith-Rowe {
  transform: translateX(55%) translateY(26.5%) scale(1.5);
  mask-image: linear-gradient(to top left, transparent 1%, white, black);
}

.Jesus {
  transform: scale(1.5) translateX(31%) translateY(15%);
}

.Gabriel {
  transform: translateX(67%) translateY(3%);
}

.Partey {
  transform: translateY(15.5%) translateX(62%) scale(1.25)
}

.Xhaka {
  transform: translateX(45%) translateY(15%) scale(1.25)
}

.Tierney {
  transform: translateX(45%) translateY(80%) scale(2.3);
  mask-image: linear-gradient(to top left, transparent 1%, white, black);
}

.Saliba {
  transform: translateX(55%) translateY(-3%) scale(0.9)
}

.White {
  transform: translateX(60%) translateY(15%) scale(1.3);
}

.Tomiyasu {
  transform: translateX(55%) translateY(10%) scale(1.2);
}

.Ramsdale {
  transform: translateX(45%) translateY(5%) scale(1.05);
}

.Zinchenko {
  transform: scale(1.2) translateY(7%) translateX(50%);
}

.Lokonga {
  transform: scale(2.1) translateX(35%) translateY(25%)
}

.Elneny {
  transform: scale(1.5) translateY(20%) translateX(35%);
  mask-image: linear-gradient(to top left, transparent 1%, white, black);
}

.Nketiah {
  transform: scale(1.4) translateY(23%) translateX(39%);
}

.Holding {
  transform: translateX(30%)
}

.Marquinhos {
  transform: scale(2.2) translateY(15%) translateX(25%);
}

.Cédric {
  transform: scale(1.3) translateY(12%) translateX(40%)
}

.Vieira {
  transform: scale(1.7) translateY(15%) translateX(35%);
}

.Turner {
  transform: scale(2) translateY(13.7%) translateX(35%);
  mask-image: linear-gradient(to top left, transparent 1%, white, black);
}

.Nelson {
  transform: scale(1.2) translateY(8%) translateX(55%);
}

.home-img {
  position: absolute;
  transform: translateX(0%) translateY(-19.5%) scale(0.9);
  opacity: 0.4;
}

.player-icon {
  transform: scale(0.035) !important;
  opacity: 0.65 !important;
  clip-path: none !important;
}

.pages {
  display: flex;
  background: red;
  z-index: 100;
  position: absolute;
  left: 85%;
  top: 88%;
  height: 30px;
  align-items: center;
  align-content: center;
  pointer-events: none;
}

.pages > h3 {
  font-size: 14px !important;
}

.page {
  position: relative;
  pointer-events: visible;
}

.page:hover {
  z-index: 1000000000;
  cursor: pointer;
}