* {
  box-sizing: border-box;
  font-family: 'Arsenal', sans-serif;
  letter-spacing: 0.1rem;
}

body {

  background-color: #DB0007 ;
  background-image: url("https://images5.alphacoders.com/115/1157178.png");
  background-size: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.8)
}

.navbar {
  height: 60px;
  background-color:#191b21;
  padding: 0 1rem;
  border-bottom: 1px solid #474a4d
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #DB0007;
  margin: 1rem;
  padding: 1rem;
  transform: translateY(-30%);
  transition: filter 300ms;
}

.icon-button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #DB0007;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button svg {
  width: 20px;
  width: 20px;
}

.nav-item:hover {
  filter: brightness(1.2)
}

.dropdown {
  position: absolute;
  top: 42px;
  width: 300px;
  transform: translateX(-45%);
  border-radius: 10px;
  background-color:#191b21;
  z-index: 1000;
  padding: 1rem;
  overflow: hidden;
  max-height: 600px;
  overflow: scroll;
  transition: height 500ms ease;
}

.menu-item {
  display: flex;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  transition: background 500ms;
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #2a2d37;
}

.icon-right {
  margin-left: auto;
}

.menu {
  width: 100%
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-secondary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.menu-secondary-enter {
  position: absolute;
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-secondary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card {
  width: 100% ;
  max-width: 900px;
  padding: 20px;
  background: #191b21;
  border-radius: 10px;
  height: 500px;
  position: relative;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.player {
  height: 800px;
  width: 600px;
  position: absolute;
  clip-path: inset(0px -20px 0px -100px);
  left: -60px;
  bottom: 0px;
}
  
.player > img {
  width: 400px;
  position: absolute;
  top: 173px;
}

@media screen and (max-width: 917px) {
  .player > img {
    z-index: -100;
    opacity: 50%;
  }

  .home-img {
    transform: translateX(-25%) translateY(-30.6%) scale(0.35) !important;
  }
}

@media screen and (max-width: 520px) {
  .player > img {
    opacity: 30%;
    z-index: 1;
  }

  .container {
    width: 100%;
  }
  
  .navbar {
    width: 100%;
  }
  
  .player-name {
    font-size: 2.5rem !important;
    top: -3px !important;
    line-height: 0 !important;
  }

  .stats-container {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    float: right;
  }

  .card {
    width: 100% ;
    padding: 20px;
    background: #191b21;
    border-radius: 10px;
    height: 90vh;
    position: relative;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
    z-index: -1;
  }
  
  .home-img {
    transform: translateX(-40%) translateY(-30.6%) scale(0.35) !important;
  }
}

.player-name {
  font-size: 5.5em;
  color: whitesmoke;
  text-align: center;
  position: absolute;
  top: -73px;
  right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-shadow: 0.05em 0 0 #d70435, 0.1em 0 0 #0f4c94;
  z-index: -1;
  margin: 0;
  line-height: 1;
}

.stats-container {
  color: #191b21;
  font-weight: 700;
  width: 450px;
  background: whitesmoke;
  height: 100%;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;
  padding: 20px;
  z-index: 1100;
}

.group {
  width: 175px;
  display: inline-block;
}

.label {
  font-size: 0.875rem;
  letter-spacing: 3px;
  color: #DB0007;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 0.5em;
}

.label:first-child {
  margin-top: 0px;
}

.description {
  font-size: 1.25rem;
}

.intro-menu {
  color: white;
}

.Ødegaard {
  transform: scale(1.4) translateY(23%) translateX(9%);
}

.Saka {
  /* position: absolute; */
  transform:translateX(15%) translateY(55%) scale(1.8);
}

.Martinelli {
  transform: translateX(2%) translateY(10%) scale(1.1)
}

.Smith-Rowe {
  transform: translateX(5%) translateY(5%) scale(1.3);
}

.Jesus {
  transform: scale(1.5) translateX(1%) translateY(15%);
}

.Gabriel {
  transform: translateX(24%) translateY(3%);
}

.Partey {
  transform: translateY(15.5%) translateX(12%) scale(1.25)
}

.Xhaka {
  transform: translateX(5%) translateY(15%) scale(1.25)
}

.Tierney {
  transform: translateX(5%) translateY(80%) scale(2.3);
}

.Saliba {
  transform: translateX(8%) translateY(-3%) scale(0.9)
}

.White {
  transform: translateX(10%) translateY(15%) scale(1.3);
}

.Tomiyasu {
  transform: translateX(15%) translateY(10%) scale(1.2);
}

.Ramsdale {
  transform: translateX(5%) translateY(5%) scale(1.05);
}

.Zinchenko {
  transform: scale(0.8) translateY(-10%) translateX(10%);
}

.Lokonga {
  transform: scale(2.1) translateX(15%) translateY(25%)
}

.Elneny {
  transform: scale(1.5) translateY(20%) translateX(5%);
}

.Nketiah {
  transform: scale(1.4) translateY(23%) translateX(5%);
}

.home-img {
  position: absolute;
  transform: translateX(-20%) translateY(-30.6%) scale(0.35)
}